<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_ecommerce_root"
              name="Ecommerce_POS"
              sequence = "10">
       
    </menuitem>

    <menuitem id="menu_ecommerce_operation"
              name="User"
              parent = "menu_ecommerce_root"
              sequence = "10"/>
    <menuitem id="menu_user"
              name="User"
              parent = "menu_ecommerce_operation"
              sequence = "10"/>

                  <!-- <menuitem id="menu_ecommerce_root"
                            name="Ecommerce_POS"
                            sequence="10">
                      <menuitem id="menu_ecommerce_operation"
                                name="User">
                          <menuitem name="User" id="menu_user" action="action_ecommerce_user"/>
                      </menuitem>
                  </menuitem> -->
</odoo>
