<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_ecommerce_root"
              name="Ecommerce_POS"
              sequence = "5">
       
    </menuitem>
    <menuitem id="menu_ecommerce_productoperation"
        name="Product"
        parent = "menu_ecommerce_root"
        sequence = "20"/>
    
    <menuitem id="menu_product"
        name="Product"
        parent = "menu_ecommerce_productoperation"
        sequence = "10"/>
    <menuitem id="menu_order"
        name="Order"
        parent = "menu_ecommerce_productoperation"
        sequence = "20"/>
    <!-- <menuitem id="menu_session"
        name="Product"
        parent = "menu_ecommerce_productoperation"
        sequence = "10"/> -->

    <menuitem id="menu_ecommerce_useroperation"
              name="User"
              parent = "menu_ecommerce_root"
              sequence = "10"/>
    <menuitem id="menu_user"
              name="User"
              parent = "menu_ecommerce_useroperation"
              sequence = "10"/>
    <menuitem id="menu_ecommerce_sessionoperation"
              name="Session"
              parent = "menu_ecommerce_root"
              sequence = "30"/>
    <menuitem id="menu_session"
              name="Session"
              parent = "menu_ecommerce_sessionoperation"
              sequence = "10"/>
    
    <menuitem id="menu_ecommerce_dashboardoperation"
              name="Product"
              parent = "menu_ecommerce_root"
              sequence = "5"/>

    <menuitem id="menu_action_custom_pos_config"
              name="POS Configuration"
              parent="menu_ecommerce_dashboardoperation"
              sequence="10"/>

   


                  <!-- <menuitem id="menu_ecommerce_root"
                            name="Ecommerce_POS"
                            sequence="10">
                      <menuitem id="menu_ecommerce_operation"
                                name="User">
                          <menuitem name="User" id="menu_user" action="action_ecommerce_user"/>
                      </menuitem>
                  </menuitem> -->
</odoo>
